.app {
  padding-right: calc(50% - 600px);
  padding-left: calc(50% - 600px);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  font-family: "Montserrat", sans-serif;
}
